body{
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;

}
h1{
  margin: 30px auto 0 auto;
  font-family: 'Sigmar One', cursive;
}
h2{
  font-family: 'Sigmar One', cursive;
  font-size: 200%;
  font-weight: normal;
}
h3{
  font-family: 'Sigmar One', cursive;
  font-weight: lighter;
}
a{
  color: #f8f5f1;
  margin: 0 auto 0 auto;
}
hr{
  border-style: dotted none none;
  border-width: 6px;
  border-color: #630000;
  width: 5%;
  margin: 6% auto;
}
.top-p{
  font-family: 'Sigmar One', cursive;
  font-weight: normal;
}
.toppool{
  height: 18%;
  width: 10%;
  position: absolute;
  right: 15%;
  top: 5%;
}
.bottompool{
  height: 18%;
  width: 10%;
  position: absolute;
  left: 15%;
}
.imgpool{
  height: 30%;
  width: 45%;
  margin-top: 6%;
}
.top-container{
  background-color: #1b1717;
  margin: 0 auto 0 auto;
  color: #630000;
  padding-top: 100px;
  position: relative;
  font-size: 250%;
}
.middle-container{
  background-color: #f8f5f1;
  color: #1b1717;
}
.bottom-container{
  background-color: #1b1717;
  color: #f8f5f1;
  margin: 0 auto 0 auto;
  padding-top: 40px;
}
.bottom-p{
  margin: 0 auto 0 auto;
  padding: 2%;
}
.skills{
  line-height: 3;
}
.skill-row{
  width: 50%;
  margin: 0 auto 0 auto;
  text-align: left;
  line-height: 3;
}
.skill_img1{
  float: left;
  margin-right: 10%;
}
.skill_img2{
  float: right;
}
.skill_p{
  font-weight: bold;
}
.contact-me{
  line-height: 3;
}
.BUTTON_BIG {
   background: #1b1717;
   background-image: -webkit-linear-gradient(top, #1b1717, #1b1717);
   background-image: -moz-linear-gradient(top, #1b1717, #1b1717);
   background-image: -ms-linear-gradient(top, #1b1717, #1b1717);
   background-image: -o-linear-gradient(top, #1b1717, #1b1717);
   background-image: -webkit-gradient(to bottom, #1b1717, #1b1717);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #F8F5F1;
   font-family: 'Sigmar One', cursive;
   font-size: 150%;
   font-weight: normal;
   padding: 2%;
   -webkit-box-shadow: 1px 1px 20px 0 #1b1717;
   -moz-box-shadow: 1px 1px 20px 0 #1b1717;
   box-shadow: 1px 1px 20px 0 #1b1717;
   text-shadow: 1px 1px 20px #F8F5F1;
   border: solid #1b1717 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.BUTTON_BIG:hover {
   border: solid #F8F5F1 1px;
   background: #F8F5F1;
   background-image: -webkit-linear-gradient(top, #F8F5F1, #F8F5F1);
   background-image: -moz-linear-gradient(top, #F8F5F1, #F8F5F1);
   background-image: -ms-linear-gradient(top, #F8F5F1, #F8F5F1);
   background-image: -o-linear-gradient(top, #F8F5F1, #F8F5F1);
   background-image: -webkit-gradient(to bottom, #F8F5F1, #F8F5F1);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   box-shadow: 1px 1px 20px 0 #630000;
   text-shadow: 1px 1px 20px #630000;
   text-decoration: none;
   color: #630000;
}
.footer-link{
  font-weight: normal;
  padding: 1%;
  text-shadow: 1px 1px 20px #F8F5F1;
  text-decoration: none;
}
